-var flag = false;
doctype html
html
  head
    title pending borrow
    table(width='100%')
      tr
        td
          a(href='/admin') Home
        td#user_name(dir='rtl') Welcome Admin
    div(align='center')
      h3 Pending Borrow
  br
  br
  body
    div(align='center')
        if pending_borrow_list.length>0
            form(action='/admin/borrow', method='POST')
                table(cellpadding='5')
                    tr
                        th Members name
                        th Members ID
                        th Requested Books
                        th Requested on
                        th Approve
                    each row in pending_borrow_list
                        tr(align='center')
                            td(align='left')= row.member_name
                            td= row.member_id
                            td= row.book_name
                            td= row.requested_on
                            each book in issued_books
                                if book.book_id==row.book_id
                                    td not available
                                    -flag = true
                            if flag==false
                                td
                                    input(type='checkbox',value=row.book_id,onclick='findDuplicate()' ,name=[row.book_id,row.member_id])
                            -flag=false        
                br
                br
                input(type='button',style='font-size:20px',value="Select all", onclick='selectAll()')
                input(type='submit',style='font-size:20px', value="Submit")
        else
            p(style='font-size:20px') No borrow request received.




script.
    var findDuplicate = function(){
        var book_ids = [];
        var input_element = document.getElementsByTagName('input')
        var value;
        for(var i=0;i<input_element.length;i++){
            if(input_element[i].type=='checkbox' && input_element[i].checked==true){
            value = input_element[i].value;
            if(book_ids.indexOf(value)!=-1){
                alert("Can't select same books twice")
                input_element[i].checked=false
            }
            else
                book_ids.push(value)
            }
        }
    }

    var selectAll = function(){
    var input_element = document.getElementsByTagName('input')
        for(var i=0;i<input_element.length;i++){
            if(input_element[i].type=='checkbox'){
            input_element[i].checked=true;
            findDuplicate();
            }
        }
    }
