-var flag=false;
doctype html
html
  head
    title return book
    table(width='100%')
        tr
            td
                a(href='/member') Home
            td(dir='rtl') Welcome #{member_name}
        tr
            td(colspan='2',dir='rtl')
                a(href='/logout') Logout

    div(align='center')
      h2 Return Book
  body
    br
    form(name='return', action='/return', method='POST')
        table(align='center', border='0')
            each borrow_book in borrowed_books
                tr(style='font-size:19px')
                    td=borrow_book.book_name
                    td &nbsp&nbsp
                    each requested_book in sent_return_request
                        if(requested_book.book_id==borrow_book.book_id)
                            td Return request send on
                            td=requested_book.requested_on
                            -flag=true
                    if flag==false
                        td
                            input(type='checkbox', name=borrow_book.book_id)
                    -flag=false
        br
        br
        div(align='center')
            input(type='button', style='font-size:20px', value='Select all',onclick='selectAll()')
            input(type='submit', style='font-size:20px', value='Submit')


script.
    var selectAll = function(){
    var input_element = document.getElementsByTagName('input')
        for(var i=0;i<input_element.length;i++){
            if(input_element[i].type=='checkbox'){
            input_element[i].checked=true;
            }
        }
    }
